@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@theme {
  --font-sans: "Outfit", sans-serif;

  --color-blue: #2a0586;
  --color-purple: #895cd6;
  --color-red: #ea5959;
  --color-purple-hover: #7a4bb8;
  --color-search: #dbd8d8;

  --background-image-sidebar: url("/assets/images/sidebar-bg.webp");

  --breakpoint-mobile: 480px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1440px;
}

@import "tailwindcss";

input[type="password"]::-webkit-reveal {
  display: none !important;
  opacity: 0 !important;
}

input[type="password"]::-ms-reveal {
  display: none !important;
}
