@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@theme {
  /* font */
  --font-sans: "Outfit", sans-serif;

  /* color */
  --color-blue: #2a0586;
  --color-purple: #895cd6;
  --color-purple-light: #f9f5ff;
  --color-red: #ea5959;
  --color-purple-hover: #7a4bb8;
  --color-border-table: rgba(176, 116, 210, 0.119);
  --color-search: #dbd8d8;
  --color-red-light: #ff9797;
  --background-image-sidebar: url("/assets/images/sidebar-bg.webp");

  /* animate */
  --animate-popIn: popIn 1s ease-in-out;
  @keyframes popIn {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    55% {
      transform: scale(1.1);
      opacity: 1;
    }
    75% {
      transform: scale(1);
    }
    85% {
      transform: scale(1.1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }

  --animate-shake: shake 1s ease-in-out;

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-4px);
    }
    40% {
      transform: translateX(4px);
    }
    60% {
      transform: translateX(-2px);
    }
    80% {
      transform: translateX(2px);
    }
  }
}

@import "tailwindcss";

input[type="password"]::-webkit-reveal {
  display: none !important;
  opacity: 0 !important;
}

input[type="password"]::-ms-reveal {
  display: none !important;
}
